<%- include ('../partials/header') %>
<%- include('../partials/menu') %>
<main style="background-color: #aaaa">
    <form action="/search" id = "" method="post">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        <div id="search_results" style="padding:5px;"> Search Results: </div>
    </form>
</main>


<%- include ('../partials/footer') %>